/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: #fafafa;

}
img {
    width: 90%;
}

.profile img {
    width: 70%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    background: #fff;
    text-decoration: none;
    color: inherit;
    font-weight: 900;
    display: block;
    padding: 10px 0;
    margin: 4px 0;
}

nav ul li a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #bcbcbc;
}


/* ================================= 
  Base Layout Styles
==================================== */
.wrap {
    margin-bottom: 100px; /* Offsetting fixed footer's height with some breathing room.*/
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#portfolio {
    background: #fff;
}

#contact a {
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background: #fff;
    bottom: 0;
    position: fixed;
    width: 100%;
} /* Holds the footer container. Color makes it opaque, fixed position makes it stick to bottom of page on scroll.*/

.footer-container {
    height: 90px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
} /* Holds the actual footer content. Width 90% to match the rest of the site's width. Must offset height with wrapper's margin-bottom.*/

#back-to-top a {
    display: inline;
    text-decoration: none;
    color: inherit;
}

#back-to-top a:hover {
    text-decoration: underline;
}

#bottom-nav {
    display: none;
}

/* ================================= 
  Media Queries
==================================== */

/* @media only screen and (min-width: 768px) {
    .wrap {
    min-height: calc(100vh - 90px);
    margin-bottom: 0;
    }

    footer {
        position: static;
    }
    
    .footer-container {

    }

    #back-to-top {
        display: none;
    }
    #bottom-nav {
        display: inline;
    }
}

@media only screen and (min-width: 1024px) {

} */