/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: #fafafa;
}

p {
    line-height: 1.4em;
}

.profile img {
    width: 70%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

nav ul li a {
    background: #fff;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px 0;
    margin: 4px 0;
}

nav ul li a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #bcbcbc;
}


/* ================================= 
  Base Layout Styles
==================================== */
.wrap {
    margin-bottom: 100px; /* Offsetting fixed footer's height with some breathing room.*/
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#home {
    padding: 30px 0 40px 0;
}


.profile {
    margin-top: 40px;
}

#portfolio {
    background: #fff;
    padding:50px 0 60px 0;
}

.portfolio-tile {
    padding: 25px 0;
}

.portfolio-tile img {
    width: 90%;
    margin-bottom: 15px;
}

#contact {
    padding: 40px 0 60px 0;
}

#contact a {
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
    font-weight: 900;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background: #fff;
    font-weight: 900;
    bottom: 0;
    position: fixed;
    width: 100%;
} /* Holds the footer container. Color makes it opaque, fixed position makes it stick to bottom of page on scroll.*/

.footer-container {
    height: 90px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    
} /* Holds the actual footer content. Width 90% to match the rest of the site's width. Must offset height with wrapper's margin-bottom.*/

#bottom-name {
    float: left;
    margin: 36px 0;
}

#back-to-top {
    float: right;
    margin: 36px 0;
}

#back-to-top a {
    text-decoration: none;
    color: inherit;
}

#back-to-top a:hover {
    text-decoration: underline;
}

#bottom-nav {
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ================================= 
  Media Queries
==================================== */

@media only screen and (min-width: 768px) {
    
    nav ul li {
        display: inline-block;
        margin: 0 5px 0 5px;
    }
    
    .profile img {
        width: 50%;
    }
    
    .profile p {
        width: 50%;
        float: left;
        text-align: left;
    }

    .portfolio-tile {
        width: 50%;
        float: left;
    }
    .portfolio-tile img {
        width: 95%;
        margin-bottom: 15px;
    }
    .portfolio-tile p {
        max-width: 70%;
        margin: 0 auto;
    }

    /* Make footer sticky */
    .wrap {
        min-height: calc(100vh - 90px);
        margin-bottom: 0;
        }

    footer {
        position: static;
    }
    

    /* Turn off back to top link, turn on bottom nav */
    #back-to-top {
        display: none;
    }
    #bottom-nav {
        display: inline;
        float: right;
    }
}

/* @media only screen and (min-width: 1024px) {

} */